<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Trends</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="title-bar">
        <a href="/">
            <h1>Stock Trends</h1>
        </a>
        
        <div class="auth-links">
            <a href="/login" class="login-link">Login</a>
            <a href="/register" class="register-link">Register</a>
        </div>

    </div>
    <div class="container">
            <section class="industry">
            



                
    <!-- Source Code Link Section -->
    <footer class="footer">
        <a href="https://github.com/NicholasTanz/StockTrends">Source Code</a>
    </footer>
</body>
</html>
